h1{
	color: #D23333;
	font-family: 'Roboto Mono', monospace;
	margin-left: 100px;
	letter-spacing: 10px; 
	font-size: 5em;
}
body{
	background-color: #343434;
}
h2{
	color: #006A9C;
}
.register{
	padding: 30px;
	max-width: 600px;
	height: 100%;
	margin-left: 380px;
	margin-top: 70px;
	background-color: rgba(211,211,211,0.5);
	border-radius: 5px;
}
.login{
	padding: 30px;
	max-width: 600px;
	height: 100%;
	margin-left: 380px;
	margin-top: 70px;
	background-color: rgba(211,211,211,0.5);
	border-radius: 5px;
	display: none;

}
p{
	font-size: 2em;
	color: #D23333;
	margin-left: 100px;
}
@media screen and (max-width: 999px){
	h1{
		width: 100%;
	}
	.register{
		width: 100%;
	}
}
@media screen and (max-width: 640px){
	h1{
		width: 100%;
	}
	.register{
		width: 100%;
	}
}
@media screen and (max-width: 320px){
	h1{
		width: 100%;
	}
	.register{
		width: 100%;
		margin-left: 200px;
	}
}